@import '../../assets/sass/util';

.selected_item {
  border-bottom: 1px solid #979797;
}

.newArrivalBlock {
  width: 500px;
  height: 200px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  padding: 16px;
  top: 550px;
  margin-left: -270px;
  left: 50%;
  border: 2px solid $main;
  overflow: hidden;
  @include desktop {
    top: 56%;
  }
  &__header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: $main;
  }
  &__content {
    padding: 16px 0 16px 0;
    height: 135px;
    overflow-y: scroll;
  }
  &__Link {
    display: block;
    text-align: center;
    color: $textColor;
    margin-bottom: 8px;
    &:hover {
      color: $accent;
    }
  }
}
