@import '../../assets/sass/util';

.organization-item {
  border: 1px solid #979797;
  width: 260px;
  margin-bottom: 26px;
  margin-right: 64px;
  border-radius: 5px;
  &:hover {
    opacity: 0.6;
  }
  &__image {
    //background-image: url('/images/NGO_image2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 150px;
    border-radius: 5px 5px 0 0;
  }
  &__description {
    padding: 16px;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__tag-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  &__tag-item {
    font-size: 12px;
    font-weight: bold;
    background-color: #9b9b9b;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 12px;
  }
  &__link {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-top: 8px;
    p {
      text-decoration: none;
      color: #4a4a4a;
    }
  }
  &__innerlink {
    text-decoration: none;
    color: #4a4a4a;
  }
}
