@import "../../assets/sass/util";

.select_panel {
    width: 260px;
    height: 100%;
    float: right;
    position: relative;
    background: #fff;
    &__header {
        background-color: $main;
        color: $white;
        height: 44px;
        padding-left: 21px;
    }
    &__text {
        line-height: 44px;
        font-size: 16px;
    }

}
