@import "../../assets/sass/util";

.selector_category {
    width: calc(100% - 260px);
    height: calc(100% - 182px);
    background-color: #F4F4F4;
    padding: 16px;
    box-sizing: border-box;
    &__innerpanel {
        padding: 24px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        min-height: 582px;
        width: 988px;
        box-sizing: border-box;
    }
    &__description {
        margin-bottom: 24px;
        font-size: 16px;
    }
    &__allselect {
        margin-top: 8px;
        margin-bottom: 24px;
        label {
            width: 110px!important;
        }
    }
}

.row {
    margin-bottom: 24px;
}

.backButton {
    background-color: $main;
    color: #fff;
    width: 150px;
    padding: 8px 16px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50px;
    text-align: right;
    &:before {
        display: inline-block;
        content: '';
        float: left;
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        vertical-align: middle;
        border-right: 11px solid #fff;
    }
    &:hover {
        color: $main;
        border-color: $main;
        background-color: #fff;
        &:before {
            border-right: 11px solid $main;
        }
    }
}
