@import "../../assets/sass/util";

.next_button {
  background-color: #7ED321;
  color: #fff;
  width: 230px;
  padding: 8px 16px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  left: 16px;
  &::after {
    display: inline-block;
    content: '';
    float: right;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    vertical-align: middle;
    border-left: 11px solid #fff;
    }
  &:hover {
    color: $accent;
    border-color: $accent;
    background-color: $white;
    &::after {
      border-left: 11px solid $accent;
      }
  }
}
