@import '../../assets/sass/util';

.organizationContainer {
  background: #f4f4f4;
  padding: 16px 24px;
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  &__innerbox {
    background-color: #fff;
    opacity: 0.8;
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 24px;
    margin: auto;
    box-sizing: border-box;
  }
  &__row {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 16px;
    &--noflex {
      display: block;
    }
  }
  &__rowBlock {
    flex-grow: 1;
    width: 45%;
    &--right {
      margin-right: 24px;
    }
  }
  &__innerBlock {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  &__rightContent {
    flex-grow: 1;
    margin-right: 64px;
  }
}

.detailPanel {
  &__header {
    color: #2f9c95;
    border-bottom: 2px solid #2f9c95;
    &:before {
      margin-right: 8px;
      vertical-align: bottom;
      display: inline-block;
      content: '';
      height: 30px;
      width: 10px;
      background-color: #2f9c95;
    }
  }
  &__bigText {
    font-size: 30px;
    font-weight: bold;
    margin-top: 24px;
    text-align: center;
    max-width: 580px;
  }
  &__mainImage {
    width: 520px;
    height: 312px;
  }
  &__list {
    list-style-type: none;
  }
  &__listItems {
    font-size: 16px;
    margin: 24px 0 24px 64px;
    &:before {
      margin-right: 8px;
      vertical-align: middle;
      display: inline-block;
      content: '';
      height: 30px;
      width: 10px;
      background-color: #2f9c95;
    }
  }
  &__fieldBadge {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    background-color: #4fbf9e;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  &__fieldArea {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    background-color: #4a90e2;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.activityItem {
  width: 340px;
  padding: 16px;
  border: 1px solid #979797;
  border-radius: 5px;
  display: flex;
  margin-top: 24px;
  margin-right: 16px;
  &__image {
    max-width: 100px;
    max-height: 80px;
  }
  &__description {
    margin-left: 24px;
  }
  &__date {
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
  }
}

.projectItem {
  width: 340px;
  padding: 16px;
  border: 1px solid #979797;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-right: 16px;
  &__image {
    width: 145px;
    height: 90px;
  }
  &__content {
    display: flex;
    flex-direction: row;
  }
  &__title {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 24px;
  }
  &__description {
    margin-left: 8px;
  }
  &__text {
    color: #4a4a4a;
    font-size: 14px;
  }
  &__link {
    text-decoration: none;
    color: #4a4a4a;
    float: right;
    font-size: 14px;
    cursor: pointer;
  }
}

.projectsPanel {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.project {
  position: relative;
  background: #fff;
  display: flex;
  border-radius: 5px;
  min-width: 1280px;
  margin-bottom: 16px;
  &Detail {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px #000;
    padding: 24px;
    display: flex;
    position: absolute;
    margin: 16px;
    width: 1248px;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color: #fff;
      border-bottom: 0;
      margin-left: -20px;
      margin-bottom: -20px;
    }
    &__image {
      width: 487px;
      height: 255px;
    }
    &__title {
      font-size: 30px;
      color: #4a4a4a;
    }
    &__date {
      margin-bottom: 8px;
      font-size: 14px;
    }
    &__row {
      display: flex;
      margin-bottom: 8px;
    }
    &__innerRow {
      display: flex;
      flex-wrap: wrap;
    }
    &__areaTitle {
      font-size: 14px;
      line-height: 26px;
      width: 90px;
    }
    &__areaBadge {
      font-size: 12px;
      padding: 4px 16px;
      border-radius: 5px;
      background-color: #4a90e2;
      color: #fff;
      margin-right: 8px;
      margin-bottom: 8px;
    }
    &__categoryTitle {
      font-size: 14px;
      line-height: 26px;
      width: 90px;
    }
    &__categoryBadge {
      font-size: 12px;
      padding: 4px 16px;
      border-radius: 5px;
      background-color: #96e1cc;
      color: #fff;
      margin-right: 8px;
    }
    &__description {
      margin-right: 16px;
      font-size: 16px;
    }
  }
  &BottomDetail {
    display: flex;
    height: 650px;
  }
  &Background {
    background-color: #2f9c95;
    border-radius: 5px 0 0 5px;
    width: 640px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 640px;
      width: 0;
      height: 0;
      border: 150px solid transparent;
      border-left-color: #2f9c95;
      border-left-width: 70px;
      border-right: 0;
      margin-top: -20px;
      margin-right: -20px;
      -webkit-transform: translate3d(0,0,0);
      z-index: 0;
    }
    &__innerbox {
      padding: 370px 32px 0 16px;
    }
    &__title {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 24px;
    }
    &__description {
      font-size: 16px;
      color: #fff;
    }
  }
  &Result {
    background-color: #89d2be;
    border-radius: 0 5px 5px 0;
    width: 640px;
    &__innerbox {
      padding: 370px 16px 0 80px;
    }
    &__title {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 24px;
    }
    &__description {
      font-size: 16px;
      color: #fff;
    }
  }
}

.basicInfo {
  &__title {
    color: #2f9c95;
    border-bottom: 2px solid #2f9c95;
    margin-bottom: 24px;
    &:before {
      margin-right: 8px;
      vertical-align: bottom;
      display: inline-block;
      content: '';
      height: 30px;
      width: 10px;
      background-color: #2f9c95;
    }
  }
  &__donationTitle {
    font-size: 30px;
  }
  &__row {
    display: flex;
    margin-bottom: 24px;
  }
  &__infoTitle {
    color: #2f9c95;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
  }
  &__infoContent {
    color: #000;
    font-size: 18px;
  }
  &__infoBar {
    height: 42px;
    //width: 500px;
    &--income {
      //width: 544px;
      background-color: #7ed321;
    }
    &--spending {
      //width: 480px;
      background-color: #4fbf9e;
    }
  }
  &__infoAmount {
    font-size: 24px;
    margin-left: 60px;
    &--income {
      color: #7ed321;
    }
    &--spending {
      color: #4fbf9e;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    margin-right: 80px;
    font-size: 18px;
  }
  &__radio {
    margin-right: 8px;
  }
  &__button {
    background-color: $main;
    color: $white;
    font-size: 24px;
    padding: 24px 130px 24px 130px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 730px;
    margin: auto;
    box-shadow: 0 2px 4px #000;
    border-radius: 50px;
    border: 1px solid transparent;
    &:hover {
      background-color: $white;
      color: $accent;
      border: 1px solid $accent;
    }
  }
}
