@import "../../assets/sass/util";

.organizationtab {
    width: 674px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #4a4a4a;
    display: flex;
    &__left {
        width: 337px;
        text-align: center;
        list-style-type: none;
        & a {
            text-decoration: none;
            color: #4a4a4a;
            display: block;
            &:hover {
                //background-color: $buttonHoverBg;
                color: #FBC994;
                border-radius: 15px 0 0 15px;
            }
            &.active {
                background-color: #FBC994;
                color: #fff;
                border-radius: 15px 0 0 15px;
            }
        }
    }
    &__center {
        width: 337px;
        text-align: center;
        list-style-type: none;
        & a {
            text-decoration: none;
            color: #4a4a4a;
            display: block;
            &:hover {
                //background-color: $buttonHoverBg;
                color: #B2D8E5;
            }
            &.active {
                background-color: #B2D8E5;
                color: #fff;
            }
        }
    }
    &__right {
        width: 337px;
        text-align: center;
        list-style-type: none;
        & a {
            text-decoration: none;
            color: #4a4a4a;
            display: block;
            &:hover {
                //background-color: $buttonHoverBg;
                color: #74D7BB;
                border-radius: 0 15px 15px 0;
            }
            &.active {
                background-color: #74D7BB;
                color: #fff;
                border-radius: 0 15px 15px 0;
            }
        }
    }
}
