@import "../../assets/sass/util";

.stepbar {
    //float: left;
    width: calc(100% - 260px);
    height: 100px;
    background: #fff;
    border: 1px solid #f4f4f4;
    &__innerbox {
      width: 600px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      &>div:first-child {
          left: -35px;
      }
      &>div:nth-child(2) {
          right:236px;
      }
      &>div:nth-child(3) {
          right:-35px;
      }
    }
    &__bar {
        height: 1px;
        width: 600px;
        display: block;
        position: absolute;
        top: 40px;
        background: black;
        z-index: -99999;
    }
}
