@import "../../assets/sass/util";

.menu_button {
  &__button_link {
      text-decoration: none;
      color: #4A4A4A;
      display: block;
      padding: 0 16px;
      line-height: 50px;
      text-align: center;
      margin: 0 8px;
      border: 1px solid transparent;
      border-radius: 50px;
      min-width: 100px;
      &:hover {
        color: $accent;
        border-color: $accent;
      }
      &.active {
        background: #7ED321;
        color: #fff;
        border-radius: 50px;
      }
  }
}
