@import '../../assets/sass/util';

.lineThrough {
  text-decoration: line-through;
}
.AboutUs__Block1 {
  background-image: url('/images/aboutus_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  margin-bottom: 64px;
  background-position: center;
  &Header {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  &Description {
    font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
  }
}

.AboutUs__Block2 {
  margin-bottom: 40px;
  &Header {
    font-size: 36px;
    color: #4fbf9e;
    text-align: center;
    margin-bottom: 32px;
  }
  &Row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.AboutUs__Block3 {
  &Header {
    font-size: 36px;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 40px;
  }
  &Row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
  }
}

.AboutUs__Block4 {
  &Header {
    font-size: 36px;
    color: #4fbf9e;
    text-align: center;
    margin-bottom: 32px;
  }
  &Description {
    font-size: 18px;
    width: 890px;
    margin: auto;
    margin-bottom: 40px;
  }
  &LastText {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 32px;
    text-align: center;
  }
  &Image {
    width: 1133px;
    display: block;
    margin: auto;
    margin-bottom: 64px;
  }
}

.AboutUs__Block5 {
  width: 1133px;
  margin: auto;
  margin-bottom: 80px;
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 24px 40px;
  background: #fff;
  &Header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
  &Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  &Right {
    width: 480px;
  }
  &Left {
    width: 480px;
  }
  &Header {
  }
  &Description {
  }
  &BottomText {
  }
}

.ActivityItem {
  width: 550px;
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
  }
  &__titleLeft {
    width: 145px;
    height: 90px;
    background-image: url('/images/Puzzle_Shape_A.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 24px;
    text-align: center;
    line-height: 90px;
  }
  &__titleCenter {
    width: 42px;
    height: 42px;
  }
  &__titleRight {
    width: 310px;
    height: 90px;
    background-image: url('/images/Puzzle_Shape_B.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 24px;
    text-align: center;
    line-height: 90px;
  }
  &__description {
    font-size: 18px;
    margin-bottom: 24px;
  }
  &__image {
    width: 435px;
    margin: auto;
    display: block;
  }
}

.AboutUs {
  &__BlockButton {
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    background-color: #4fbf9e;
    border-radius: 50px;
    border: 1px solid transparent;
    text-align: center;
    width: 600px;
    margin: auto;
    display: block;
    position: relative;
    padding: 8px;
    margin-bottom: 40px;
    &:before {
      content: '';
      position: absolute;
      bottom: 20px;
      right: 28px;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-left-color: #fff;
      border-right: 0;
      margin-top: -16px;
      margin-right: -16px;
      display: block;
    }
    &:hover {
      background-color: $white;
      color: $main;
      border-color: $main;
      &:before {
        border-left-color: $main;
      }
    }
  }
  &__triangle {
    display: block;
    margin: auto;
    margin-bottom: 32px;
  }
  &__stepItem {
    width: 358px;
    height: 110px;
    border: 5px solid #4fbf9e;
    border-radius: 10px;
    padding: 24px;
    background: #fff;
    &--step1 {
      border-color: #4fbf9e;
    }
    &--step2 {
      border-color: #538ccf;
    }
    &--step3 {
      border-color: #fac090;
    }
    &Title {
      font-size: 24px;
      font-weight: bold;
      &--step1 {
        color: #4fbf9e;
      }
      &--step2 {
        color: #538ccf;
      }
      &--step3 {
        color: #fac090;
      }
    }
    &Description {
      font-size: 16px;
      &--step1 {
        color: #4fbf9e;
      }
      &--step2 {
        color: #538ccf;
      }
      &--step3 {
        color: #fac090;
      }
    }
  }
}
