@import "../../assets/sass/util";

.organizationbar {
    width: 100%;
    height: 100px;
    background: #fff;
    min-width: 1280px;
    border: 1px solid #f4f4f4;
    &__innerbox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      padding: 0 24px;
      width: 1280px;
      box-sizing: border-box;
    }
    &__leftitem {
        display: flex;
        align-items: center;
        height: 100%;
        width: 400px;
        flex-wrap: wrap;
    }
    &__centeritem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-grow: 1;
    }
    &__rightitem {
        width: 400px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__badge {
        height: 24px;
        display: flex;
        margin-right: 8px;
        align-items: center;
        border-radius: 5px;
        padding: 8px;
        color: #fff;
        &--international {
            background-color: #96E1CC;
        }
        &--refugee {
            background-color: #6AA7EE;
        }
        &icon {
            margin-right: 8px;
        }
        &title {
            font-size: 12px;
        }
    }
    &__urlBox {
        border: 1px solid $textColor;
        border-radius: 5px;
        padding: 8px 16px;
        min-width: 250px;
    }
    &__url {
        color: $textColor;
        text-align: center;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $main;
        }
    }
}
