@import "../../assets/sass/util";

.map_label {
    min-width: 100px;
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    border-radius: 2px;
    padding-top: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    &:after {
    	top: 100%;
    	left: 55%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-top-color: rgba(255, 255, 255, 0.7);
    	border-width: 15px;
    	margin-left: -20px;
    }
    &.label_japan {
        top: 25%;
        left: 46%;
    }

    &.label_northamerica {
        top: 20%;
        left: 60%;
        width: 150px;
    }

    &.label_southamerica {
        top: 50%;
        left: 70%;
        width: 150px;
    }

    &.label_russia {
        top: 15%;
        left: 30%;
        width: 150px;
    }

    &.label_asia {
        top: 30%;
        left: 35%;
        width: 120px;
    }

    &.label_australia {
        top: 55%;
        left: 46%;
        width: 150px;
    }

    &.label_africa {
        top: 50%;
        left: 5%;
        width: 140px;
    }

    &.label_europe{
        top: 20%;
        left: 5%;
        width: 150px;
    }

    &.label_middle_east {
        top: 30%;
        left: 15%;
    }

    &.label_all{
        top: 8%;
        left: 15%;
        position: absolute;
        width: 150px;
    }

    .japanmap{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &.label_hokkaido {
        top: 11%;
        left: 64%;
        width: 150px;
    }

    &.label_touhoku {
        top: 27%;
        left: 56%;
        width: 150px;
    }

    &.label_chubu {
        top: 43%;
        left: 47%;
        width: 150px;
    }

    &.label_kantou {
        top: 48%;
        left: 55%;
        width: 150px;
    }

    &.label_kinki {
        top: 51%;
        left: 44%;
        width: 150px;
    }

    &.label_chugoku {
        top: 55%;
        left: 34%;
        width: 150px;
    }

    &.label_shikoku {
        top: 61%;
        left: 42%;
        width: 140px;
    }

    &.label_kyushu{
        top: 61%;
        left: 29%;
        width: 150px;
    }

    &.label_okinawa{
        top: 72%;
        left: 12%;
        width: 150px;
    }
}
