@import '../../assets/sass/util';

.lineThrough {
  text-decoration: line-through;
}

.BlockA {
  background-image: url('/images/LP_bg_1.svg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__bigText {
    font-size: 48px;
    font-family: serif;
  }
  &__smallText {
    font-size: 18px;
  }
}

.BlockB {
  margin-bottom: 24px;
  &__title {
    font-size: 36px;
    color: #4fbf9e;
    text-align: center;
    margin-bottom: 24px;
  }
  &__row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__smallText {
    font-size: 16px;
  }
}

.DonationItem {
  width: 520px;
  height: 246px;
  padding: 24px;
  border: 5px solid #ff5a70;
  border-radius: 5px;
  text-align: center;
  margin-right: 24px;
  background-color: #fff;
  &--tsudo {
    border-color: #b2d8e5;
  }
  &--project {
    border-color: #74d7bb;
  }
  &--other {
    border-color: #f5a623;
  }
  & &__header {
    font-size: 24px;
    background-color: #ff5a70;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    &--tsudo {
      background-color: #b2d8e5;
    }
    &--project {
      background-color: #74d7bb;
    }
    &--other {
      background-color: #f5a623;
    }
  }
  &__subheader {
    color: #ff5a70;
    font-size: 18px;
    margin: 16px 0;
    &--tsudo {
      color: #b2d8e5;
    }
    &--project {
      color: #74d7bb;
    }
    &--other {
      color: #f5a623;
    }
  }
  &__list {
    list-style: none;
  }
  &__listItem {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 8px;
  }
  &__listIcon {
    margin-right: 16px;
  }
}

.BlockC {
  padding: 24px;
  border: 1px solid #979797;
  width: 1213px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 40px;
  background-color: #fff;
  &__title {
    font-size: 36px;
    color: #4fbf9e;
    margin-bottom: 16px;
  }
  &__description {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 16px;
  }
  &__image {
    width: 100%;
  }
  &__row {
    display: flex;
    margin-top: 40px;
  }
  &__list {
    list-style-type: none;
  }
  &__listItem {
    font-size: 36px;
    &:before {
      content: '';
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background-color: #4fbf9e;
      display: inline-block;
      margin-right: 24px;
    }
  }
  &__subList {
    padding: 8px 0 8px 0;
  }
  &__subListItem {
    list-style-type: none;
    font-size: 14px;
  }
  &__tsumari {
    margin-right: 100px;
  }
}

.BlockButton {
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  background-color: #4fbf9e;
  border-radius: 50px;
  text-align: center;
  width: 600px;
  margin: auto;
  display: block;
  position: relative;
  padding: 8px;
  margin-bottom: 40px;
  &:before {
    content: '';
    position: absolute;
    bottom: 20px;
    right: 28px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #fff;
    border-right: 0;
    margin-top: -16px;
    margin-right: -16px;
    display: block;
  }
  &:after {
    content: '';
    position: absolute;
    background-image: url('/images/button_decoration.svg');
    background-repeat: no-repeat;
    bottom: 20px;
    right: -100px;
    width: 80px;
    height: 80px;
    display: block;
  }
}
