@import '../../assets/sass/util';

.selected_item {
  border-bottom: 1px solid #979797;
}

.serviceIntroBlock {
  width: 100%;
  height: 273px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  color: #4a4a4a;
  display: flex;
  padding: 16px;
  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  &__container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__header {
      margin-bottom: 45px;
      display: flex;
      justify-content: center;
      & img {
        float: left;
        margin-right: 16px;
      }
      & h2 {
        font-size: 24px;
        line-height: 47px;
      }
    }
    &__contents {
      text-align: center;
    }
  }
}
