@import "../../assets/sass/util";

.organization_container {
    background: #f4f4f4;
    padding: 16px;
    &__innerbox {
        background-color: #fff;
        opacity: 0.8;
        border: 1px solid #979797;
        border-radius: 5px;
        padding: 24px;
    }
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}
