@import "../../assets/sass/util";

.category-item{
    &__label {
        border: 1px solid #6AA7EE;
        padding: 8px;
        display: inline-block;
        width: 300px;
        border-radius: 100px 20px 20px 100px;
        position: relative;
        height: 70px;
        box-sizing: border-box;
        line-height: 30px;
        margin-right: 16px;
    }
    &__checkbox {
        position: absolute!important;
        width: 70%!important;
        right: 0;
        top: 30%;
    }
    &__icon {
        font-size: 35px;
        position: absolute;
        left: 8px;
        top: 8px;
        color:#6AA7EE;
    }
    &__circle {
        width: 50px;
        height: 50px;
        border: 1px solid #6AA7EE;
        border-radius: 100%;
        text-align: center;
        position: relative;
    }
}

.row > .category-item__label:last-child {
    margin-right: 0px;
}
