@import "../../assets/sass/util";

.map_selector {
    //float: left;
    width: 930px;
    height: 688px;
    background-color: #D7EDF3;
    background-size: cover;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    &__japanmap {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: 500px;
    }
    &__worldmap {

    }
    &_outer {
      width: calc(100% - 260px);
      @include desktop {
        height: 100%;
      } 
      background-color: #D7EDF3;
    }
}
