@import "../../assets/sass/util";

.map_tab {
    width: 674px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #4a4a4a;
    &__items_left {
        display: inline-block;
        width: 337px;
        text-align: center;
    }
    &__items_right {
        display: inline-block;
        width: 337px;
        text-align: center;
    }
    &__items_right a{
        text-decoration: none;
        color: #4a4a4a;
        display: block;
    }
    &__items_left a{
        text-decoration: none;
        color: #4a4a4a;
        display: block;
    }
    &__items_right a:hover {
        color: $main;
        border-radius: 0 15px 15px 0;
    }
    &__items_left a:hover {
        color: $main;
        border-radius: 15px 0 0 15px;
    }
    &__items_right a.active {
        background-color: #2F9C95;
        color: #fff;
        border-radius: 0 15px 15px 0;
    }
    &__items_left a.active {
        background-color: #2F9C95;
        color: #fff;
        border-radius: 15px 0 0 15px;
    }
}
