@import "../../assets/sass/util";

.stepitem {
  display: inline-block;
  height: 100px;
  text-align: center;
  margin-top: 16px;
  position: absolute;
  p {
      font-size: 16px;
      margin-top: 8px;
  }
  &__step_circle{
      height: 45px;
      width: 45px;
      color: #fff;
      background-color: #9B9B9B;
      border-radius: 100%;
      z-index: 99999;
      font-size: 20px;
      line-height: 45px;
      margin-left: auto;
      margin-right: auto;
      &.active {
          background-color: #7ED321;
      }
  }
  &__step_active{

  }
}
