@import '../../assets/sass/util';

.lineThrough {
  text-decoration: line-through;
}

.main {
  height: 100%;
}

.mainFrame {
  @include desktop {
  }
}

.mainFrameSearch {
  height: calc(100% - 80px) !important;
}

.topImage {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#eaf8f8, #60ccce);
  position: relative;
  padding-top: 30px;
  @include desktop {
    height: 100%;
  }
  &__innerImage {
    width: 1200px;
    height: 1500px;
    display: block;
    margin: auto;
  }
  &__text {
    font-size: 45px;
    position: absolute;
    top: 120px;
    left: 120px;
  }
  &__subText {
    font-size: 18px;
    position: absolute;
    top: 300px;
    left: 120px;
    width: 308px;
  }
  &__button {
    font-size: 24px;
    background-color: $white;
    color: $topActionButton;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid $topActionButton;
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    //border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0px 8px;
    &:hover {
      border-color: $topActionButton;
      color: $white;
      background-color: $topActionButton;
      box-shadow: none;
      transform: translate(0px, 8px);
    }
  }
}

.section {
  width: 100%;
  &_header {
    margin: 24px 24px 32px 24px;
    display: flex;
    &__icon {
      width: 48px;
      margin-left: 18px;
      margin-right: 16px;
      align-items: center;
      align-content: center;
      display: flex;
    }
    &__title {
      font-size: 32px;
      margin-right: 18px;
    }
    &__divider {
      flex: 1;
      height: 0;
      border-bottom: 1px solid #4fbf9e;
      margin-top: 24px;
    }
  }
  &_contents {
    display: flex;
    flex-wrap: wrap;
    &__item {
      min-width: 20%;
      @media (max-width: 1400px) {
        min-width: 25%;
      }
      @media (max-width: 1150px) {
        min-width: 33.3%;
      }
      & .organization-item {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.bottom_container {
  text-align: center;
}
