@import "../../assets/sass/util";

.header {
    height: 80px;
    background-color: #fff;
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1280px;
    box-sizing: border-box;
    &__menu_button {
      list-style: none;
      display: inline-block;
    }
}
