//------------------common css--------------------//

* {
  margin: 0;
  padding: 0;
}

html,
#App,
#App > div {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  background: #ffffff;
}

body {
  min-height: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
}
#app {
  height: 870px;
  @include desktop {
    width: 100%;
    height: 100%;
  }
  width: 1280px;
}
.hidden {
  display: none;
}
