/* Noto Font setting */
$fontPath: "/src/assets/fonts/";
@font-face {
  font-family: 'Noto Sans JP';
  src: url(../fonts/noto/NotoSansJP-Regular.woff2) format('woff2'),
    url(../fonts/noto/NotoSansJP-Regular.woff) format('woff'),
    url(../fonts/noto/NotoSansJP-Regular.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansCJKkr-Regular';
  src:  url('#{$fontPath}noto/NotoSansCJKkr-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
