//colors

$main: #2F9C95;
$accent: #7ED321;
$textColor: #4a4a4a;
$white: #fff;

//buttons
$buttonHoverBg: #d2d2d2;
$topActionButton: #FF5A70;



// Mixin font-size
@mixin font-size($size, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) + rem;
}

// Responsive BG Image
@mixin responsive-bg-image($image-width, $image-height) {
  background-size: 100%;
  height: 0;
  padding-bottom: percentage($image-height / $image-width);
  display: block;
}

// Media query
// 768pxより大きい場合
@mixin tablet () {
    @media (min-width: 768px) {
        @content;
    }
}

// 1024pxより大きい場合
@mixin desktop () {
    @media (min-width: 1024px) {
        @content;
    }
}

// 1170pxより大きい場合
@mixin lg-desktop () {
    @media (min-width: 1170px) {
        @content;
    }
}

//extension
// 300pxより大きい場合
@mixin responsive () {
    @media (min-width: 300px) {
        @content;
    }
}
